*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #333;
    font-family: sans-serif;
}

h1{
  color: #fff;
}

.article1{
  background-image: linear-gradient( rgba(53, 80, 73, 0.9) 50%,rgba(5, 25, 25, 0.9) 80%), url(img/fondo.webp);
   background-size: cover;
  display: flex;
    align-items: center;
   padding-bottom: 4em;
   padding-top: 4em;
} 

.perfil-description{
    background-color: #35504f;
    width: 70%;   
    color: white;
    position: relative;
    left: 13em;
    padding: 1em;
 }

.presentation-text{
  margin-top: 1em;
}

.link{
 background-color: rgb(73, 100, 73);
 display:inline-block;
 padding: 0.5em;
 border-radius: 2em;
 text-decoration: none;
 margin-top: 1em;
 color: aliceblue;
}

.link:hover{
  background-color: rgb(101 153 101);
  color: #333;
}
 
.link:active{
  background-color: #fff;
  color: black;
}

.img-perfil{
    width: 15em;
    height: 10em;
    box-shadow: 1em 1em 2em;
    position: relative;
    left: 4em;
}

.article2{
    background-color: #333;
  }

.hability-title{
   font-size: 2em;
   color: white;
   padding-top: 1.4em;
  }

.container-hability-title{
     padding-bottom: 2em;
 }

.container-hability-text{
  display: flex;
}

.hability-1,
.hability-2,
.hability-3{
  background-color: rgb(73, 100, 73);
  padding: 2em;
  border-radius: 2em;
  margin: 1em;
  color: white;
}

.hability-subtitle{
  padding-bottom: 1.3em;
}

.article3{                                 
  background-image: linear-gradient( rgba(53,80,73,0.9) 50%,  rgba(5,25,25,0.9) 80% ) , url(img/fondo.webp) ;
  background-size: cover;
  background-color: #222;
  display: flex;
  padding: 4em 4em 8em 4em;

 }

.container-description{
    padding-right: 3em;
}

.text-me{
  background-color: #35504f;
 }

.container-img-description{
  background-color: #35504f;
  width: 100%;
  color: white;
  position: relative;
  padding: 5em 1.5em 1.5em 1.5em;
 padding-top: 5em;
}

.img-description{
  box-shadow: -1em 1em 2em;
 }

.card_skill1,
.card_skill2,
.card_skill3{
  background-color: gray;
  width: 40%;
  color: white;
  padding: 2em;
  margin: 1em;
  border-radius: 2em;
  box-shadow: 0 0 2em black;
}

.container-skills-title{
    padding-bottom: 2em;
}

.container-skills-text{
  display: flex;
 
}

.article4{
   padding-bottom: 6em;
  }

 .card_title{
  padding-bottom: 1.2em;
 }

.subtitle-skills{
  width: 100%;
  color: white;
  font-size: 2em;
  padding-top: 1.4em;
}

.article5{
   background-color:  #222; 
    
}

.title-portfolio{
 font-size: 2em;
 padding-top: 1.4em;
 color: #fff;
 padding-bottom: 1.5em;
 margin-bottom: 3em;
}

.container_card-project{
 background-color: #35504f;
 width: 50%;
 padding: 1em;
 border-radius: 2em;
 margin-left: auto;
 margin-right: auto;
 margin-top: 4em;
 box-shadow: 0 0 1em;
}

.img-project{
 width: 40%;
 display: inline-block;
 padding-right: 2em;
}

.project-text{
 display: inline-block;
 width: 58%;
 max-width: 23em;
 padding-top: 4em;
 color: white;
 }

.project-name{
  padding-bottom: 1em;
  color: white;
}

.container-space{
   width: 60%;
  height: 5em;
}

.container-footer{
   width: 100%;
  display: flex;
}

.project-link{
  background-color: rgb(73, 100, 73);
  margin-top: 1em;
  text-decoration: none;
  padding: 1em;
  color: white;
  border-radius: 2em;
  box-shadow: 0 0 0.5em black;
}

.project-link:hover{
 background-color:  rgb(101 153 101);
 color: black;
}

.project-link:active{
  background-color: #fff;
  color: black;
}

.container-project_links{
   width: 15%;
  position: relative;
   display: flex;
  flex-direction: column;
  align-items: center;
 }
  
 .container-main{
  display: flex;
 }

@media screen and (max-width:950px){
  .perfil-description{
    width: 25em;
    left: 2em;
    padding-right: 4em;
  }
  
.img-description{
  box-shadow: -1em 1em 2em;
  width: 80%;
}

.container-img-description{
  
 font-size: 0.5em;
 padding-top: 0;
 padding: 5em 1.5em 1.5em 1.5em;
}

.container-description{
    padding-right: 1.2em;
}
  
.hability-1,
.hability-2,
.hability-3{
     font-size: 0.5em;
    
 }  
 
.hability-title{
   font-size: 1em;
  }
 
.card_skill1,
.card_skill2,
.card_skill3{
   font-size: 0.5em;
 }

 .subtitle-skills{
   width: 100%;
  font-size: 1em;
}


.container_card-project{
   width: 60%;
  padding: 1em;
  border-radius: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  font-size: 0.5em;
 }
 
.img-project{
   display: inline-block;
}

.project-text{
  display: inline-block;
 max-width: 40em;
 }
 
.title-portfolio{
   font-size: 1em;
  padding-bottom: 1.5em;
  margin-bottom: 3em;
 }

.img-perfil{
  width: 15em;
  height: 10em;
  box-shadow: 1em 1em 2em;
  position: relative;
  left: 0;
 }
}
@media screen and (max-width:400px){
 .article1{
   display: flex;
  flex-direction: column-reverse;
 }
  
.perfil-description{
   width: 75%;
   left: 0;
  margin-top: 2.5em;
  padding-right: 1em;
}

.presentation-title{
   text-align:center ;
}

.img-perfil{
  width: 50%;
  height: 10em;
  box-shadow: 1em 1em 2em;
  position: relative;
 }

 .container-description{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
   padding-right: 0;
   margin-bottom: 2.5em;
 }

.img-description{
  box-shadow: -1em 1em 2em;
  width: 100%;
}

.container-hability-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-skills-text{
   display: flex;
  flex-direction: column;
  align-items: center;
 }

 .article2{
  padding-bottom: 3em;
 }
 
.article3{
   display: flex;
  flex-direction: column;
  padding: 0.4em 2em 1.4em 2em;
}

.container-img-description{
   width: 100%;
  height: initial;
  position: relative;
  top: 0;
  padding: 2em 1.5em 1.5em 1.5em;
 }
 
 .hability-1,
 .hability-2,
 .hability-3{
      font-size: 0.5em;
     width: 50%;
  }  

.card_skill1,
.card_skill2,
.card_skill3{
   font-size: 0.5em;
  width: 55%;
 }

 .container-main{
   display: flex;
  flex-direction: column;
  align-items: center;
 }

 .container-space{
  width: 42%;
 }

 .img-project{
   margin-top: 2.5em;
   width: 60%;
   padding-right: 0;
 }

 .project-text{
  margin-top: 2em;
  width: 80%;
  padding-top: 0.5em;
 }
}
